<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copyright" content="©Peddi Gopal">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= title %></title>
</head>
<body class="bg-slate-300">
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-4">
            <%- include('header') %>
            <div class="mt-4 space-x-6">
                <a href="/sport/<%= sid.id %>" class="text-blue-500 hover:underline">Go Back</a>
                <a href="/signout" class="text-blue-500 hover:underline">Signout</a>
            </div>
            <div class="mt-3">
                <h1 class="text-4xl mb-4"><%= title %></h1>
            </div>
            <div class="flex flex-wrap justify-center">
                <% if (prev.length!==0) { %>
                    <% for (var i=0;i< prev.length;i++) { %>
                        <% if (!prev[i].sessionCancelled) { %>
                            <div class="bg-white rounded shadow-lg p-4 m-4">
                                <p class="text-xl"><%= prev[i].sessionName %></p>
                                <p class="text-lg mb-2"><%=(new Date(prev[i].date)).toDateString() %></p>
                                <p class="text-gray-600"><%= prev[i].time %></p>
                            </div>
                        <% } else { %>
                            <div class="bg-white rounded shadow-lg p-4 m-4 text-blue-500 font-medium">
                                <p class="text-xl"><%= prev[i].sessionName %></p>
                                <p class="text-lg mb-2"><%=(new Date(prev[i].date)).toDateString() %></p>
                                <p class="text-gray-600"><%= prev[i].time %></p>
                                <p class="text-red-500 mt-2">Session cancelled due to <%= prev[i].reason %></p>
                            </div>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <p class="text-lg mb-2">There are no prev Sessions!</p>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>