<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="copyright" content="©Peddi Gopal">
        <script src="https://cdn.tailwindcss.com"></script>
        <title><%= title %></title>
    </head>
    <body class="bg-slate-300">
        <div class="grid grid-cols-4">
            <div class="col-start-2 col-span-2">
                <%- include("header") %>
                <% if (role === "admin") { %>
                    <p class="text-2xl flex justify-center mt-4">Welcome <%= userName %></p>
                    <div class="my-4">
                        <h1 class="text-xl flex justify-center">Administrative Actions</h1>
                    </div>
                    <div class="my-4">
                        <a href="/signout" class="text-blue-500 hover:underline">Signout</a>
                    </div>
                    <div class="my-4 space-x-6">
                        <a href="/createsport" class="text-white bg-blue-500 hover:bg-blue-600 rounded px-5 py-2">Create Sport</a>
                        <a href="#" class="text-white bg-blue-500 hover:bg-blue-600 rounded px-5 py-2">View Reports</a>
                    </div>
                    <div class="my-4">
                        <h5 class="font-semibold text-2xl">Created Sports:</h5>
                    </div>
                    <div>
                        <div>
                            <h6 class="text-red-800 text-2xl">
                                <%= (sports.length == 0)?"Sports sessions are not yet created":"" %>
                            </h6>
                        </div>
                        <ul class="list-none">
                            <% for (let i=0;i<sports.length;i++) { %>
                                <% if (sports[i].userId == uid) { %>
                                    <p class="text-black-600 text-xl mt-2">Created By You</p>
                                    <li>
                                        <div class="text-gray-600">
                                            <a href="/sport/<%= sports[i].id %>">
                                                <h4 class="hover:underline"><%= sports[i].sportName %></h4>
                                            </a> 
                                        </div>
                                    </li>
                                <% } %>
                            <% } %>
                            <hr/>
                            <% for (let i=0;i<sports.length;i++) { %>
                                <% if (sports[i].userId != uid) { %>
                                    <p class="text-black-600 text-xl mt-2">Created By other admin</p>
                                    <li>
                                        <div class="text-gray-600">
                                            <a href="/sport/<%= sports[i].id %>">
                                                <h4 class="hover:underline"><%= sports[i].sportName %></h4>
                                            </a> 
                                        </div>
                                    </li>
                                <% } %>
                            <% } %>
                        </ul>
                    </div>
                <% } else { %>
                    <p class="text-2xl flex items-center">Welcome <%= userName %></p>
                    <div class="my-4">
                        <a href="/signout" class="text-blue-500 hover:underline">Signout</a>
                    </div>
                    <div class="my-4">
                        <a href="#" class="text-white bg-blue-500 hover:bg-blue-600 rounded px-5 py-2">View Reports</a>
                    </div>
                    <div>
                        <h5 class="font-semibold text-2xl">Created Sports:</h5>
                    </div>
                    <div>
                        <div>
                            <h6 class="text-red-800 text-2xl">
                                <%= (sports.length == 0)?"Sports sessions are not yet created":"" %>
                            </h6>
                        </div>
                        <ul class="list-none">
                            <% for (let i=0;i<sports.length;i++) { %>
                                <li>
                                    <div class="text-gray-600">
                                        <a href="/sport/<%= sports[i].id %>">
                                            <h4 class="hover:underline"><%= sports[i].sportName %></h4>
                                        </a> 
                                    </div>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                <% } %> 
            </div> 
        </div>
    </body>
</html>
